<!DOCTYPE html>
<html>
<head>
    <title>My Favorites</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/PSone.min.css">
</head>
<body>
    <a href="{{ url_for('index') }}">Home</a>

    <h1>My Favorites</h1>
    {% if favorites %}
        {% for game in favorites | unique(attribute='Name') %}
            <div>
                <h3>{{ game['Name'] }}</h3>
                <p>Genre: {{ game['Genre'] }}</p>
                <p>User Score: {{ game['User_Score'] }}</p>
                <form action="{{ url_for('remove_from_favorites') }}" method="post">
                    <input type="hidden" name="game_name" value="{{ game['Name'] }}">
                    <button type="submit">Remove from Favorites</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>No favorite games found.</p>
    {% endif %}
</body>
</html>
