<!DOCTYPE html>
<html>
<head>
    <title>Game Recommender</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/PSone.min.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.jpeg"/>
    <style>
        .navbar {
            background-color: #333;
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Apply the active style */
        .navbar a.active {
            background-color: #555;
            color: white;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/" {% if current_route == '/' %}class="active"{% endif %}>Home</a>
        <a href="/favorites" {% if current_route == '/favorites' %}class="active"{% endif %}>My Favorites</a>
        <a href="/developers" {% if current_route == '/developers' %}class="active"{% endif %}>Developer</a>
        <a href="/bookmarked_games" {% if current_route == '/bookmarked_games' %}class="active"{% endif %}> Bookmarked Games</a>
        {% if message %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
      <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
        
    <h1>Game Recommender</h1> 
    <br>
  
    <iframe src="https://giphy.com/embed/S5uMJDmtnATLbjjw3h" width="432" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/S5uMJDmtnATLbjjw3h">via GIPHY</a></p>    {% if 'loggedin' in session %}
    {% if message %}

    <p>{{ message }}</p>  

    {% endif %}
   
    {% else %}
    <p> Welcome! </p>
    {% endif %}

    <form method="post" action="/recommend">
        <label for="genre">Genre:</label>
        <select name="genre" id="genre">
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Puzzle">Puzzle</option>
            <option value="Role-Playing">Role-Playing</option>
            <option value="Misc">Misc</option>
            <option value="Sports">Sports</option>
            <option value="Racing">Racing</option>
            <option value="Shooter">Shooter</option>
            <option value="Simulation">Simulation</option>

            <!-- Add more genre options as needed -->
        </select>
        <br>
        <label for="platform">Platform:</label>
        <select name="platform" id="platform">
            <option value="PC">PC</option>
            <option value="PS">PS</option>
            <option value="PSP">PSP</option>
            <option value="PS2">PS2</option>
            <option value="PS3">PS3</option>
            <option value="PS4">PS4</option>
            <option value="X360">X360</option>
            <option value="XONE">XONE</option>
            <option value="Wii">Wii</option>
            <option value="WiiU">WiiU</option>
            <option value="GB">GB</option>
            <option value="SNES">SNES</option>
            <option value="N64">N64</option>
            <option value="DS">DS</option>
            <!-- Add more platform options as needed -->
        </select>
        <br>
        <br>
        <label for="user_score">User Score Threshold:</label>
        <input type="number" name="user_score" id="user_score" min="0" max="10" step="0.1" placeholder="Enter the minimum user score" required>
        <br>

        <!-- Hidden input field for selected platform -->
        <input type="hidden" name="selected_platform" id="selected_platform" value="">

        <button type="submit">Recommend</button>
    </form>

    <!-- Your other HTML content -->
</body>
</html>
