<!DOCTYPE html>
<html>
<head>
    <title>Recommended Games</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/PSone.min.css">
</head>
<body>
    <a href="{{ url_for('index') }}">Home</a>
    <h1>Recommended Games</h1>
    <ul>
        {% for game in games %}
        <li>

            <a href="https://www.google.com/search?q={{ game.Name }}" target="_blank">{{ game.Name }}</a>
            (Genre: {{ game.Genre|join(", ") }}, User Score: {{ game.User_Score }}, Platform: {{ game.Platform }})
            {% if game_info %}
            <h2>Game Information:</h2>
            <ul>
            {% for game_name, reddit_link in game_info.items() %}
                    <li>{{ game_name }}: {% if reddit_link %}<a href="{{ reddit_link }}" target="_blank">{{ reddit_link }}</a>{% else %}Not Found.{% endif %}</li>
                {% endfor %}
            </ul>            {% else %}
            <p> NOT POPULATED </p>

            {% endif %}
            <p> Here is the reddit {{ game_info[game.Genre][game.Name] }}</a></p>

            <p>
                Reddit Community: {% if game_info.get(game.Name) %}
                <a href="{{ game_info[game.Name] }}" target="_blank">{{ game_info[game.Name] }}</a>
                <span>HEIOFNNO</span>
                <span> Here is the reddit {{ game_info[game.Genre][game.Name] }}</a></span>
                {% elif game.Genre == "Shooter" and game_info.Shooter and game_info.Shooter.get(game.Name) %}
                <a href="{{ game_info.Shooter[game.Name] }}" target="_blank">{{ game_info.Shooter[game.Name] }}</a>
                
                {% else %}
                Not Found.
                {% endif %}
            </p>
            {% if 'loggedin' in session and session['loggedin'] %}
                <form onsubmit="return saveGame('{{ game.Name }}')">
                    <input type="hidden" name="game_name" value="{{ game.Name }}">
                    <button type="submit">Save</button>
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <button onclick="regenerateGames()">Regenerate</button>

    <script>
        function regenerateGames() {
            window.location.reload();
        }

        function saveGame(gameName) {
            // Send the form data using AJAX
            var formData = new FormData();
            formData.append('game_name', gameName);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/save_game', true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Display the success message in a popup
                    alert('Game saved to favorites successfully!');
                } else {
                    // Display the error message in a popup
                    alert('Error saving the game to favorites.');
                }
            };

            xhr.onerror = function () {
                // Display the error message in a popup
                alert('Error saving the game to favorites.');
            };

            xhr.send(formData);

            // Prevent the form from submitting in the default way
            return false;
        }
    </script>
</body>
</html>
